/* header styles */
img.user-avatar {
    border-radius: 50% !important;
}

/* sidebar styles */
div.default-first-menu-wrapper li{
    list-style:none;
    text-align: center;
}
ul.default-second-menu-wrapper li{
    list-style:none;
    text-align: center;
}

/* page title style */
h3.page-title {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 28px;
    font-weight: 300;
    /*letter-spacing: -1px;*/
}

/* dashboard statik styles */
div.statics-wrapper {
    position: relative;
    display: block;
    background-color: #cccccc;
}

div.dashboard-static {
    border-radius: 4px;
    position: relative;
    min-height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.dashboard-static.ds-blue{
    background-color: #578ebe;
}

div.dashboard-static.ds-red{
    background-color: #e35b5a;
}

div.dashboard-static.ds-green{
    background-color: #4cae4c;
}

div.dashboard-static.ds-purple{
    background-color: #8775a7;
}

div.traffic-wrapper{
    position: relative;
    display: block;
    background-color: #cccccc;
}

div.traffic-static.ds-white {
    background-color: #ffffff;
    min-height: 600px;
    margin-bottom: 10px;
}

div.container-grey {
    background-color: #cccccc;
    border-radius: 6px;
}