<link href="{{ url_for('static',filename='plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static',filename='plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='plugins/uniform/css/uniform.default.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet" type="text/css"/>
