<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>
            {% block title %}
                Base.html
            {% endblock %}
        </title>

{% block global_styles %}
    {% include "frameworks/global_styles.html" %}
{% endblock %}

{% block theme_styles %}
	{% include "frameworks/theme_styles.html" %}
{% endblock %}

{% block page_level_style %}
{% endblock %}

</head>
<body>
{% block header %}
    {% include "frameworks/header.html" %}
{% endblock %}

<div class="container-fluid">
    <div class="col-md-2">
        {% block sidebar %}
			{% include "frameworks/sidebar.html" %}
		{% endblock %}
    </div>
    <div class="col-md-10">
        主窗口
        {% block custome_page %}
        {% endblock %}
    </div>
</div>


{% block footer %}
	{% include "frameworks/footer.html" %}
{% endblock %}







{% block global_plugin %}
	{% include "frameworks/global_plugins.html" %}
{% endblock %}

{% block page_level_plugin %}
{% endblock %}

{% block global_script %}
{% endblock %}

{% block page_level_script %}
{% endblock %}
</body>
</html>