{% extends "base.html" %}

{% block custome_page %}

    {% block page_title %}
		<div class="row title-wrapper">
        	<h3 class="page-title">Here is the Title in the page</h1>
        </div>
    {% endblock %}

    {% block statics %}
        <div class="row-fluid">
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard-static ds-blue">statik1</div>
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard-static ds-green">statik2</div>
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard-static ds-red">statik3</div>
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard-static ds-purple">statik4</div>
        </div>
    {% endblock %}

{% endblock %}